*.foreground:   #3B4252
*.background:   #E5E9F0
*.cursorColor:  nord0

! Normal      Bright
! --------    -------
! 0 Black      8 Black
! 1 Red        9 Red
! 2 Yellow    10 Yellow
! 3 Green     11 Green
! 4 Blue      12 Blue
! 5 Magenta   13 Magenta
! 6 Cyan      14 Cyan
! 7 White     15 White

*.color0: #E5E9F0
*.color1: #99324B
*.color2: #9A7500
*.color3: #4F894C
*.color4: #3B6EA8
*.color5: #97365B
*.color6: #398EAC
*.color7: #3B4252
*.color8: #485163
*.color9: #ff6655
*.color10: #ecbe7b
*.color11: #99bb66
*.color12: #51afef
*.color13: #c678dd
*.color14: #46d9ff
*.color15: #E5E9f0
